h1{
    text-transform: uppercase;
}

.play{
    font-size: 18px;
    padding: 10px 15px;
    font-weight: bold;
    background-color: #4caf4f;
    border-radius: 15px;
    color: white;
}

.play:hover {
    background-color: #2c6d2e;
}

.play:active {
    background-color: red;
}

.rules{
    display: flex;
    transform: rotate(90deg);    
    float: left;
    height: 250px;
    width: 250px;
    margin: 10px 20px;
}
