body{
    background-color: rgb(88 49 174);
    border: 3px dotted whitesmoke;
}

h1{
    text-transform: uppercase;
    text-align: center;
    color: whitesmoke;
}

p{
    text-align: center;
    color: whitesmoke;
    padding: 12px;
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.play{
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px;
    font-weight: bold;
    background-color: #4caf4f;
    border-radius: 15px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.play:hover {
    background-color: #2c6d2e;
    cursor: pointer;
    transform: scale(1.05);
}

.play:active {
    background-color: red;
}

.resetButton{
    display: flex;
    justify-content: center;
    align-content: center;
}

.reset{
    font-size: 18px;
    padding: 10px 15px;
    margin: 10px;
    font-weight: bold;
    background-color: rgba(245, 245, 245, 0.688);
    border-radius: 15px;
    color: #441b9f;
    transition: all 0.2s ease-in-out;
    border: 1px dotted whitesmoke;
}

.reset:hover {
    background-color: rgba(245, 245, 245, 0.86);
    cursor: pointer;
    transform: scale(1.05);
}

.reset:active {
    background-color: whitesmoke;
    color: #441b9f;
}

#choice{
    display: none;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 100px;
    color: whitesmoke;
    text-align: center;
    font-size: larger;
    border: 2px dotted whitesmoke;
    background-color: #242424af;
}

#score{
    display: none;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    background-color: #242424af;
    padding: 10px;
    border: 1px dotted whitesmoke;
}

.rules{
    display: flex;
    transform: rotate(90deg);    
    float: left;
    height: 250px;
    width: 250px;
    /* margin: 10px 20px; */
    border: 1px solid whitesmoke;
}
